<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>
      NFTea - The Digital Tea Experience: Unique NFT Tea Items for Collectors
      and Enthusiasts
    </title>
    <meta
      name="description"
      content="Join the tea-riffic world of NFTs with NFTea! Our project is brewing up a storm with unique and delicious NFT tea items that will make your taste buds and your wallet happy. Sip, collect and brag about your one-of-a-kind digital tea finds with NFTea - the perfect blend of tradition and innovation."
    />
    <meta name="author" content="NFTea" />

    <meta
      property="og:title"
      content="NFTea - The Digital Tea Experience: Unique NFT Tea Items for Collectors and Enthusiasts"
    />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://www.nftea-example.com/" />
    <meta
      property="og:description"
      content="NFTea - the ultimate blend of tradition and innovation. Discover our unique NFT tea items and elevate your tea collection to a whole new level with our one-of-a-kind, digitally-signed tea finds."
    />
    <meta property="og:image" content="./assets/image/og-image.png" />

    <link rel="icon" href="./assets/image/favicon.ico" />
    <link rel="icon" href="./assets/image/favicon.svg" type="image/svg+xml" />
    <link rel="apple-touch-icon" href="./assets/image/apple-touch-icon.png" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Cabin&family=Roboto+Flex:opsz@8..144&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="./assets/styles/styles.css" />
  </head>
  <body>
    <div id="vue-app" class="container">
      <header>
        <nav>
          <div class="logo">
            <!-- LOGO here -->
            <img class="nftea" src="./assets/image/logo.png" alt="Logo" />
          </div>
          <div class="titles">
            <!-- Titles here -->
            <div class="titles desktop-only">
              <h1>savor the unique flavors of tea with nft<span>ea</span></h1>
              <h2>mint your one-of-a-kind tea nft item</h2>
            </div>
          </div>
          <div class="actions">
            <!-- wallet connect -->
            <button v-if="!web3_connected" @click="connect_wallet">
              connect wallet
            </button>
            <button class="disabled" v-else>connected</button>
          </div>
        </nav>
      </header>
      <main class="wrapper">
        <div class="titles mobile-only">
          <h1>savor the unique flavors of tea with nft<span>ea</span></h1>
          <h2>mint your one-of-a-kind tea nft item</h2>
        </div>
        <div class="minter">
          <div id="operation">
            <div id="preview">
              <div id="image-box">
                <!-- add the cup image box -->
              </div>
              <div id="buttons">
                <!-- <button
                  
                  @click="connect_wallet"
                  class="full-width"
                >
                  Connect Wallet
                </button> -->
                <!-- <button
                  v-if="web3_connected"
                  @click="execute_web3"
                  class="full-width"
                >
                  Brew Tea
                </button> -->
                <h1>Live at Friday 6PM CET</h1>
                <!-- <button v-else @click="connect_wallet" class="full-width">
                  Mint My NFTea
                </button> -->
              </div>
            </div>
          </div>
          <div id="options">
            <form>
              <fieldset class="ingridient grid">
                <legend><h3>Pick up to 2 primary ingredients</h3></legend>
                <div class="grid__wrapper">
                  <div class="card" v-for="ingridient in primary_set">
                    <input
                      type="checkbox"
                      name="primary_ingridient"
                      :value="ingridient"
                      :id="ingridient.id"
                      v-model="nft_primary_combination"
                    />
                    <label :for="ingridient.id" class="checkbox_item stacked">
                      <img
                        class="card__img"
                        :src="ingridient.image"
                        :alt="ingridient.name"
                      />
                      <div class="card__content">
                        <h3 class="card__title">{{ ingridient.name }}</h3>
                      </div>
                    </label>
                  </div>
                </div>
              </fieldset>

              <fieldset class="secondary_ingridient">
                <legend><h3>Pick upto 5 secondary ingredients</h3></legend>
                <div class="grid__wrapper">
                  <div class="card" v-for="ingridient in secondary_set">
                    <input
                      type="checkbox"
                      name="secondary_ingridient"
                      :value="ingridient"
                      :id="ingridient.id"
                      v-model="nft_secondary_combination"
                    />
                    <label :for="ingridient.id" class="checkbox_item stacked">
                      <img
                        class="card__img"
                        :src="ingridient.image"
                        :alt="ingridient.name"
                      />
                      <!-- <div class="image card__img" :style="`background-image: url(${ingridient.image});`"></div> -->
                      <div class="card__content">
                        <h3 class="card__title">{{ ingridient.name }}</h3>
                      </div>
                    </label>
                  </div>
                </div>
              </fieldset>
            </form>
          </div>
        
        </div>
      </main>
    </div>
    <footer>
      <ul>
        <li>© Copyright 2023 Flying Fish Tea / Soonami</li>
        <li>
          <p>
            Made with love in Berlin, by
            <a href="https://soonami.io" target="_blank"> Soonami Team</a>
          </p>
        </li>
        <li>
          <p>
            Powered by
            <a href="https://unbounded.vision/#mquark" target="_blank">
              mQuark schema protocol
            </a>
          </p>
        </li>
      </ul>
    </footer>
    <script
      src="https://cdn.ethers.io/lib/ethers-5.2.umd.min.js"
      type="application/javascript"
    ></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://unpkg.com/axios@1.1.2/dist/axios.min.js"></script>
    <script
      src="./assets/abi/PaymentWrapper.json"
      type="text/json"
      id="contractAbi"
    ></script>
    <script
    src="./assets/scripts/constants.js"
    ></script>

    <script src="./assets/scripts/app.js" type="text/javascript"></script>
  </body>
</html>
