<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>NFTea - The Digital Tea Experience: Unique NFT Tea Items for Collectors and Enthusiasts</title>
    <meta
      name="description"
      content="Join the tea-riffic world of NFTs with NFTea! Our project is brewing up a storm with unique and delicious NFT tea items that will make your taste buds and your wallet happy. Sip, collect and brag about your one-of-a-kind digital tea finds with NFTea - the perfect blend of tradition and innovation."
    />
    <meta name="author" content="NFTea" />

    <meta property="og:title" content="NFTea - The Digital Tea Experience: Unique NFT Tea Items for Collectors and Enthusiasts" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://www.nftea-example.com/" />
    <meta
      property="og:description"
      content="NFTea - the ultimate blend of tradition and innovation. Discover our unique NFT tea items and elevate your tea collection to a whole new level with our one-of-a-kind, digitally-signed tea finds."
    />
    <meta property="og:image" content="./assets/image/og-image.png" />

    <link rel="icon" href="./assets/image/nftea_logo_ico.ico" />
    <link
      rel="icon"
      href="./assets/image/nftea_logo_svg.svg"
      type="image/svg+xml"
    />
    <link rel="apple-touch-icon" href="./assets/image/apple-touch-icon.png" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Cabin&family=Roboto+Flex:opsz@8..144&display=swap" rel="stylesheet" />

    <link rel="stylesheet" href="./assets/styles/styles.css" />
  </head>
  <body>
    <div id="vue-app" class="container" style="min-width: 60rem">
      <header>
        <nav>
          <div class="logo">
            <!-- LOGO here -->
            <a href="/">
              <img class="nftea" src="./assets/image/logo.png" alt="Logo" />
            </a>
          </div>
          <div class="titles">
            <!-- Titles here -->
            <div class="titles desktop-only">
              <h1>Savour the unique flavours of tea with nft<span>ea</span></h1>
              <h2>mint your one-of-a-kind tea nft item</h2>
            </div>
          </div>
          <div class="actions">
            <!-- wallet connect -->
            <button v-if="!web3_connected" @click="connect_wallet">connect wallet</button>
            <button class="disabled" v-else>connected</button>
          </div>
          <div
            class="actions"
            style="
              flex-direction: column;
              align-items: flex-end;
              grid-column: 3 / 3;
            "
          >
            <h5 style="display: inline-block">Total contributed amount</h5>
            <button class="contributionCounter" style="margin-top: 1rem" disabled>
              {{ totalContributedAmount }} matic
            </button>
          </div>
        </nav>
      </header>
      <main class="wrapper">
        <div class="titles mobile-only">
          <h1>Savour the unique flavours of tea with nft<span>ea</span></h1>
          <h2>mint your one-of-a-kind tea nft item</h2>
        </div>
        <div class="minter">
          <div id="operation">
            <div id="preview">
              <div
                id="image-box"
                style="
                  min-width: 15rem;
                  min-height: 15rem;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                "
              >
                <!-- add the cup image box -->
                <!-- <img v-if="!backend_response.isLoading" src="assets/image/empty_tea_cup.png" alt="" /> -->
                <img
                  v-if="backend_response.isLoading"
                  src="assets/image/loader.gif"
                  alt=""
                />
                <img v-else :src="brewed_tea" alt="" />
              </div>
              <div id="buttons">
                <button
                  v-if="!web3_connected"
                  @click="connect_wallet"
                  class="full-width"
                >
                  Connect Wallet
                </button>
                <button
                  v-else-if="web3_connected && brewed_tea == null"
                  @click="brew_tea"
                  class="full-width"
                >
                  Brew Tea
                </button>
                
                <button
                  v-if="(brewed_tea != null) && web3_connected "
                  @click="set_show_popup"
                  class="full-width"
                  :disabled="backend_response.isLoading"
                >
                  mint my nftea
                </button>
                <div
                  class="full-width"
                  style="display: flex; justify-content: center"
                >
                  <button
                    @click="connect_wallet"
                    style="
                      width: 40%;
                      font-size: 1.5rem;
                      margin-top: 1rem;
                      grid-column: 3 / 3;
                      padding-right: 0;
                      padding-left: 0;
                    "
                  >
                    {{ mintedNftCount }} / 365
                  </button>
                </div>
                <h1 style="text-align: center; margin-top: 1rem; font-size: 1.2rem;">once you brew your nft</h1>
                <h2 style="text-align: center; font-size: 1rem;">
                   you cannot change it 
                </h2> 
              </div>
            </div>
          </div>
          <div id="options" style="margin-top: 2rem">
            <form>
              <fieldset class="ingridient grid">
                <legend><h3>Pick up to 2 primary ingredients</h3></legend>
                <div class="grid__wrapper">
                  <div class="card" v-for="ingridient in primary_set">
                    <input type="checkbox" name="primary_ingridient" :value="ingridient" :id="ingridient.id" v-model="nft_primary_combination" />
                    <label :for="ingridient.id" class="checkbox_item stacked">
                      <img class="card__img" :src="ingridient.image" :alt="ingridient.name" />
                      <div class="card__content">
                        <h3 class="card__title">{{ ingridient.name }}</h3>
                      </div>
                    </label>
                  </div>
                </div>
              </fieldset>
              <fieldset class="secondary_ingridient">
                <legend><h3>Pick up to 5 secondary ingredients</h3></legend>
                <div class="grid__wrapper">
                  <div class="card" v-for="ingridient in secondary_set">
                    <input type="checkbox" name="secondary_ingridient" :value="ingridient" :id="ingridient.id" v-model="nft_secondary_combination" />
                    <label :for="ingridient.id" class="checkbox_item stacked">
                      <img class="card__img" :src="ingridient.image" :alt="ingridient.name" />
                      <!-- <div class="image card__img" :style="`background-image: url(${ingridient.image});`"></div> -->
                      <div class="card__content">
                        <h3 class="card__title">{{ ingridient.name }}</h3>
                      </div>
                    </label>
                  </div>
                </div>
              </fieldset>
            </form>
          </div>
        </div>
      </main>

      <div v-show="!show_popup" style="display: none">
        <div></div>
      </div>

      <div
        v-show="show_popup"
        style="
          position: absolute;
          top: 0;
          left: 0;
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: hsla(0, 0%, 0%, 0.9);
          z-index: 999;
          width: 100%;
          height: 100%;
        "
      >
        <div
          @click="none"
          style="
            padding: 1rem;
            position: absolute;
            top: 5rem;
            display: flex;
            background-color: white;
            opacity: 1;
            width: fit-content;
            height: fit-content;
            border-radius: 0.2rem;
            padding: 2rem;
            margin-inline: 1rem;
            max-width: 55rem;
          "
        >
          <div
            v-if="!transactionLoading && !transactionSuccess"
            style="
              position: relative;
              display: flex;
              flex-direction: column;
              flex-wrap: wrap;
              gap: 10px;
              padding: 2rem;
            "
          >
            <h4
              @click="set_show_popup"
              style="
                position: absolute;
                right: -7px;
                top: -13px;
                text-align: right;
                cursor: pointer;
              "
            >
              X
            </h4>
            <h3>
              Would you like to buy some tea to support our Turkish friends?
            </h3>
            <!-- <input style="width: 5rem; height: 2rem; padding: 0; text-align: center" :value="donation" @input="event => setContribution(event.target.value)" type="number" /> -->
            <!-- <h4>for a Turkish friend?</h4> -->
            <p style="width: 100%; line-height: 1.5rem; margin-top: 0.5rem;">
              NFTea project was created when
              <a
                target="_blank"
                rel="noopener noreferrer"
                href="https://www.flyingfishtea.co.uk/"
                >Flying Fish Tea Co.</a
              >
              came to soonami with the idea of raising funds for those in need
              through the power of NFTs. soonami decided to make this a FREE
              mint but we strongly encourage you to choose a VOLUNTARY
              CONTRIBUTION as every little helps victims of the earthquakes in
              Turkey. We launched this project using Polygon, which decreased
              fees for this mint from 10$ to a few cents, you can use the saved
              amount to make a difference! All of the tokens are going directly
              to
              <a
                target="_blank"
                rel="noopener noreferrer"
                href="https://twitter.com/TurkeyReliefDAO/status/1623681944725733376"
                >TurkeyReliefDAO</a
              >
              more information about the process can be found
              <a
                target="_blank"
                rel="noopener noreferrer"
                href="https://twitter.com/NFTeaProject"
                >here</a
              >..
            </p>
            <div
              style="
                width: 100%;
                height: 3rem;
                margin-left: 25px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin: 1rem 0;
              "
            >
              <!-- <button style="margin: 0 15px 7px 0; width: 3.5rem; height: 2rem; padding: 0; text-align: center" v-for="contribution in contribution_amount" type="text" :id="contribution" @click="setContribution(contribution)">
                {{ contribution }}
              </button> -->
              <div>
                <button @click="mint_free">Mint for free</button>
              </div>
              <p>or</p>
              <div>
                <input
                  class="contribution-input"
                  placeholder="0 MATIC"
                  style="
                    position: relative;
                    top: -2px;
                    width: 10rem;
                    height: 2.7rem;
                    padding: 0;
                    text-align: center;
                    margin-right: 1rem;
                  "
                  :value="donation"
                  @input="event => setContribution(event.target.value)"
                  type="number"
                />
                <button
                  @click="mint_with_contributing"
                  style="
                    width: 15rem;
                    height: 2.8rem;
                    padding-right: 0;
                    padding-left: 0;
                  "
                >
                  Mint with contribution
                </button>
              </div>
            </div>
            <div
              style="
                padding: 1rem;
                background-color: #e2e2e2;
                border-radius: 0.15rem;
                line-height: 1.7rem;
              "
            > 
              <p>
                EVERBODY CAN MINT ONLY ONE NFT. 
              </p>
              <p>
                Due to the recent event in Turkey, we decided to open contribution
                pool.
              </p>
              <p>
                * this is a voluntary contribution, all of the MATIC will be sent
                to this address automatically:
                0xbe4cde5eeeed1f0a97a9457f6ef5b71eae108652
              </p>
              <p>
                * you can find your txn
                <a
                  target="_blank"
                  rel="noopener noreferrer"
                  href="https://polygonscan.com/address/0xbe4cde5eeeed1f0a97a9457f6ef5b71eae108652#internaltx"
                  >here</a
                >
              </p>
              <p>
                *you can find more information
                <a
                  target="_blank"
                  rel="noopener noreferrer"
                  href="https://twitter.com/0xpolygon/status/1623690024452558852?s=12&t=SQfdUZkeYXI76wNu6-vT3w"
                  >here</a
                >
              </p>
            </div>
            <!-- <p>**Value is in MATIC</p> -->
            <!-- <button @click="send_transaction">Continue</button> -->
          </div>

          <div
            v-else-if="transactionLoading && !transactionSuccess"
            style="position: relative; padding: 1rem"
          >
            <h4
              @click="set_show_popup"
              style="
                position: absolute;
                right: -7px;
                top: -13px;
                text-align: right;
                cursor: pointer;
              "
            >
              X
            </h4>
            <h3 style="display: inline-block; margin: 0">
              Transaction has been sent successfuly, waiting for the mint
            </h3>
            <img
              src="./assets/image/dots.gif"
              style="width: 3rem; display: inline-block; margin: 2px 0 0 0"
              alt=""
            />
          </div>

          <div
            v-else-if="!transactionLoading && transactionSuccess"
            style="position: relative; padding: 1rem"
          >
            <h4
              @click="set_show_popup"
              style="
                position: absolute;
                right: -7px;
                top: -13px;
                text-align: right;
                cursor: pointer;
              "
            >
              X
            </h4>
            <h3 style="display: inline-block; margin: 0">
              Congrats, it is in your wallet!
            </h3>
            <div style="width: 100%; padding: 2rem;">
              <a href="https://opensea.io/account" target="_blank"><button>view in OpenSea</button></a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <footer>
      <ul>
        <li>© Copyright 2023 Flying Fish Tea / soonami</li>
        <li>
          <p>
            Made with love in Berlin, by
            <a
              target="_blank"
              rel="noopener noreferrer"
              href="https://soonami.io"
              target="_blank"
            >
              soonami Team</a
            >
          </p>
        </li>
        <li>
          <p>
            Powered by
            <a
              target="_blank"
              rel="noopener noreferrer"
              href="https://unbounded.vision/#mquark"
              target="_blank"
            >
              mQuark Protocol
            </a>
          </p>
        </li>
      </ul>
    </footer>

    <script
      src="https://cdn.ethers.io/lib/ethers-5.2.umd.min.js"
      type="application/javascript"
    ></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://unpkg.com/axios@1.1.2/dist/axios.min.js"></script>
    <script src="https://unpkg.com/vue-toastify@1.8.1/dist/vue-toastify.umd.min.js"></script>
    <script src="./assets/scripts/constants.js"></script>
    <script src="./assets/scripts/app.js" type="text/javascript"></script>
  </body>
</html>
